#shade {
  width: 100%;
  background: rgba(34, 34, 34, 0.3);
  height: 100%;
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#profileContainer {
  margin: 20px;
  width: 80%;
  height: 90%;
  background: white;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quitBtn {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 33px;
  right: 42px;
}
#quitBtn:hover > img {
  filter: brightness(0) invert(13%) sepia(100%) saturate(7254%) brightness(98%)
    contrast(117%);
}

#profileInfoTable {
  width: 100%;
}

#profileContainer > h2 {
  color: #2b6777;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

#profileInfoTable th {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #121212;
  text-align: end;
}

#userPic {
  height: 183px;
}

#profileInfoTable td {
  padding: 10px 20px;
  width: 60%;
}

.profileData {
  background: rgba(223, 222, 222, 0.3);
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6f6f6f;
  height: 50px;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

#articlesData{
  height: 100%;
}

.userDataInput {
  background: none;
  border: none;
  height: 100%;
  width: 100%;
  font-size: 16px;
}

#imageInput {
  width: 183px;
  height: 183px;
  background: #d9d9d9;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
#imageInput::-webkit-file-upload-button {
  visibility: hidden;
}

input:focus {
  outline: none;
}
input::placeholder {
  color: rgb(203, 203, 203);
}

.settingsContainer {
  z-index: 1000 !important;
}
#filterContainer {
  position: absolute;
  top: 40px;
  padding: 10px;
  right: 30px;
  border: solid 1px black;
  border-radius: 8px;
  background: white;
}
#filterContainer table{
  position: relative;
  left: 5px;
}
#filterContainer tr {
  border: solid black 1px;
}
#employeeList input[type="checkbox"] {
  transform: scale(1.5);
}
#filterContainer input[type="checkbox"] {
  transform: scale(2);
  /* accent-color: gray; */
}

#profileInfoTable {
  width: 100%;
}

#profileContainer > h2 {
  color: #2b6777;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
}

.description_box {
  background: #dfdede;
  border-radius: 5px;
  border: none;
  height: 25%;
  width: 70%;
  padding: 5px;
  margin-top: 8%;
  text-justify: start;
}

.user_description_box {
  position: relative;

  display: flex;
  flex-direction: row;

  height: 25%;
  width: 70%;
}

.information_user_box {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  width: 300px;
}

.information_user_box > div {
  display: flex;
}

.information_user_box > div > div {
  display: flex;

  font-size: 13px;
  margin: 1px 3px;
}

.second_one {
  color: #716f6b;
}
.employee {
  background: #f2efff;
  color: black;
  border-radius: 5px;
}

.name_of_page {
  font-size: 13px;
}

.buttonn {
  display: flex;
  position: absolute;
  direction: column;
  position: center;
  bottom: 5%;
  width: 44%;
  height: 8%;
}

.confirm {
  font-family: Poppins;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  border: none;
  background: #2b6777;
  position: absolute;

  height: 50px;
  width: 150px;

  bottom: 5%;
  cursor: pointer;
  &:hover {
    background: #2b5377;
  }
}
